{% extends "base.html" %}
{% block start %}

    <div class="container my-5">
        <form class="col-12 mx-auto my-5 card p-3 adding-form shadow-lg" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h2 class="text-center" style="font-weight: bold;">Add Destination</h2>
            <hr>
            <div class="form-group my-3">
                <label for="exampleInputEmail1">Destination Name</label>
                <input type="text" required name="destination_name" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp" placeholder="Enter Destination Name">
            </div>
            <div class="form-group my-3">
                <label for="exampleInputPassword1">Destination
                    Description</label>
                <textarea rows="3" required class="form-control" name="destination_description"></textarea>
            </div>
            <div class="form-group my-3">
                <label for="exampleInputEmail1">Destination Image</label>
                <input type="file" class="form-control" name="destination_image" id="exampleInputEmail1"
                    aria-describedby="emailHelp" placeholder="Enter Destination Name">
            </div>
            <button type="submit" class="btn btn-primary" style="font-weight: bold;">Add Destination</button>
        </form>
        <hr>
        <h2 class="text-center my-3">Checkout Destinations here</h2>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Destination</th>
                    <th scope="col">Description</th>
                    <th scope="col">Image</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for d in destinations%}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{d.destination_name}}</td>
                    <td>{{d.destination_description}}</td>
                    <td><img src="/media/{{d.destination_image}}"
                            style="max-height: 120px; min-height : 120px; max-width: 175px; min-width: 175px"></td>
                    <td><a href="/delete-destination/{{d.id}}" class="btn btn-danger">Delete <i
                                class="fa fa-trash"></i></a>
                        <a href="/update-destination/{{d.id}}" class="btn btn-warning my-2">Update</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}