{% extends "base.html" %}
{% block start %}
<div class="container">
    <form class="card shadow my-4 p-3 col-6 mx-auto" method="post" enctype="multipart/form-data">
        <h2 class="text-center font-weight-bold">Login</h2>
        <hr>
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input type="text" name = "username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" name = "password" class="form-control" id="exampleInputPassword1">
        </div>
        <p>Don't have an account? <a href="/register/">Register Here</a></p>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
{% endblock %}