{% extends "base.html" %}
{% block start %}
    <div class="container my-5">
        <form class="col-6 mx-auto my-5 card p-3 shadow-lg" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h2 class="text-center">Update Destination</h2>
            <hr>
            <div class="form-group my-3">
                <label for="exampleInputEmail1">Destination Name</label>
                <input type="text" required name="destination_name" value="{{destination.destination_name}}"
                    class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Enter Destination Name">
            </div>
            <div class="form-group my-3">
                <label for="exampleInputPassword1">Destination
                    Description</label>
                <textarea required class="form-control"
                    name="destination_description">{{destination.destination_description}}</textarea>
            </div>
            <div class="form-group my-3">
                <label for="exampleInputEmail1">Destination Image</label>
                <input type="file" class="form-control" name="destination_image" id="exampleInputEmail1"
                    aria-describedby="emailHelp" placeholder="Enter Destination Name">
            </div>
            <button type="submit" class="btn btn-primary">Update Destination</button>
        </form>
    </div>
{% endblock %}